.hero {
  margin-bottom: 9.6rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 4rem;
  align-items: center;

  @media (max-width: 768px) {
    margin-bottom: 4.8rem;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.copyWrapper {
  position: relative;
  z-index: 10;
  width: fit-content;
  margin: 4.8rem 0;
}

.heroContent {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
  }
}

.profileImageContainer {
  flex-shrink: 0;
}

.profileImage {
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--brand);
  box-shadow: 0 6px 25px rgba(100, 200, 255, 0.4);
}

.textContent {
  flex: 1;
}

.title {
  font-size: var(--text-xl);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 0.8rem;

  span {
    color: var(--brand);
  }

  @media (max-width: 768px) {
    font-size: var(--text-xl);
  }
}

.subTitle {
  font-size: var(--text-md);
  line-height: 1.2;
  font-weight: 400;

  span {
    font-weight: bold;
    color: var(--brand);
  }
}

.aboutCopy {
  margin: 2.4rem 0;
  padding: 2.4rem;
  max-width: 700px;
  font-weight: 400;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;

  span {
    font-weight: bold;
  }
}