:root {
  font-size: 62.5%;

  --background: rgb(13, 17, 33);
  --bg-opaque: rgba(13, 17, 33, 0.25);
  --background-light: rgb(23, 30, 58);
  --background-dark: rgb(8, 12, 25);

  --text: rgb(230, 241, 255);
  --brand: rgb(100, 200, 255);

  --text-xs: 1.6rem;
  --text-sm: 1.8rem;
  --text-md: 2.2rem;
  --text-lg: 3.6rem;
  --text-xl: 5.6rem;
  --text-2xl: 9.6rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background: var(--brand);
  color: var(--background-dark);
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  font-size: var(--text-sm);
}

body {
  color: var(--text);
  background: var(--background);
}

a {
  color: inherit;
}

.section-wrapper {
  position: relative;
  z-index: 10;
  max-width: 1150px;
  margin: auto;
  padding: 9.6rem;
  overflow: hidden;
}

@media (max-width: 768px) {
  .section-wrapper {
    padding: 7.2rem 2.4rem;
  }
}

.chip {
  font-size: var(--text-xs);
  background: var(--background-light);
  padding: 0.2rem 0.8rem;
  border-radius: 999px;
}